$base-color: #F1F1F1;
$content-color: #84634d;

@mixin nav   {
  padding: 10px 80px;
  height: 80px;
  background-color: $base-color;
  color: $content-color;
}

@mixin flex_center {
  display: flex;
  align-items: center;
}

@mixin about-image {
  background-color: $base-color;
  display: flex;
  opacity: 0.7;
}

@mixin user-profile {
  margin: 10px 0 ;
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
  position: relative;
  left: -90px;
  top: 40px;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
  border:solid 4px $content-color;
}

@mixin icon-button {
  background-color: white;
  border-radius: 10px;
  border:solid 3px $content-color;
  text-decoration: none;
  color: $content-color;
  padding: 10px;
  margin-left: 20px;
  max-height: 25px;
  width: 200px;
}

@mixin icon-hover {
  background-color: $content-color;
  color: white;
}


