$base-color: #F1F1F1;
$content-color: #84634d;

@mixin nav   {
  padding: 10px 80px;
  height: 80px;
  background-color: $base-color;
  color: $content-color;
}

@mixin flex_center {
  display: flex;
  align-items: center;
}

@mixin about-image {
  background-color: $base-color;
  display: flex;
  opacity: 0.7;
}

@mixin user-profile {
  margin: 10px 0 ;
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
  border:solid 4px $content-color;
  position: relative;
  left: -90px;
  top: 40px;
}

@mixin icon-button {
  background-color: white;
  border-radius: 10px;
  border:solid 3px $content-color;
  text-decoration: none;
  color: $content-color;
  padding: 10px;
  margin-left: 20px;
  max-height: 25px;
  width: 140px;
}

@mixin icon-hover {
  background-color: $content-color;
  color: white;
}

@mixin user-image {
  height: 500px;
  width: 500px;
  color: $content-color;
  background-color: white;
  border-radius: 120px;
  border:solid 4px $content-color;
  position: absolute;
}

@mixin body-content {
  height: calc(100vh - 280px);
  margin: 120px 0 20px;
  background-color: $base-color;
  color: $content-color;
}

@mixin new-form {
  padding: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
  border:solid 4px $content-color;
  color: $content-color;
}

@mixin user-gragh {
  width:740px;
  height: 380px;
  line-height: 600px;
  background-color: white;
  border-radius: 10px;
  border:solid 2px $content-color;
}

@mixin position {
  position: absolute;
  transform: translate(-50%, -50%);
}

