@import "./variable";

table#physical {
  position: relative;
  right: 160px;
  width: 560px;
  tr,td {
    border:solid 2px $content-color;
    padding: 18px;
    input {
      display: inline-block;
      font-size: 100%;
      width: 86px;
    }
  }
  th {
    @include icon-hover;
    border:solid 1px white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    &#day {
      width: 108px;
    }
    &#data {
      width: 86px;
    }
  }
  thead, tbody {
    display: block;
  }
  tbody {
    overflow-y: scroll;
    height: 440px;
    text-align: center;
  }
}

.select-button {
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  border:solid 2px $content-color;
  &:hover {
    @include icon-hover;
  }
}
