@import "./variable";

* {
font-family: 'Chalkboard SE',sans-serif;
}
.header {
  position: fixed;
  width: calc(100vw - 160px);
  top: 0;
  @include nav;
  @include flex_center;
  justify-content: space-around;
  margin-bottom: 400px;
  font-size: 40px;
  z-index: 40;
  &__center {
    @include flex_center;
    color: $content-color;
    text-decoration: none;
    &--logo {
      font-size: 70px;
      margin: {
        left: 40px;
        right: 40px;
      }
    }
  }
}

//ドロップダウンメニュー
ul.child{
  display: none;
  position: absolute;
  font-size: 22px;
  & a {
    color: $content-color;
    text-decoration: none;
  }
  li.child-hidden {
    opacity: 0;
    height: 28px;
  }
  li.child{
    display: block;
    padding: 20px;
    text-decoration: none;
    background-color: $base-color;
    border-bottom: 3px solid $content-color;
    border-left: 3px solid $content-color;
    border-right: 3px solid $content-color;
    &:hover{
      opacity: 0.6;
    }
  }
}


.main-content {
  text-align: center;
  color: $content-color;
  z-index: 20;
  position: relative;
  &__about {
    height: calc(100vh - 200px);
    &--up {
      @include about-image;
      margin: 20px 240px;
      list-style: none;
      overflow: hidden;
      margin-top: 120px;
      & li {
        padding:20px;
        img {
          height: 600px;
          width: 920px;
        }
      }
    }
    &--down {
      padding: 20px 0;
      overflow: hidden;
      .fadein {
        opacity : 0;
        transform: translateY(100px);
        transition: all 3s;
        display: flex;
      }
      img {
        height: calc(100vh - 240px);
        margin-right:20px;
        position: relative;
      }
    }
  }
  &__sample {
    position: relative;
    z-index: 20;
    padding: 40px;
    background-color: $base-color;
    height: calc(100vh - 120px);
    font-size: 40px;
    &--title {
      font-size: 80px;
      color: $content-color;
      &:hover {
        color: yellow;
      }
    }
    &--do {
      display: flex;
      justify-content: space-around;
      align-items:flex-end;
      margin-top: 80px;
    }
    &--center {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 420px;
      }
    }
  }
}

.footer {
  @include nav;
  text-align: center;
  .button__icon {
    @include flex_center;
    &--link {
      @include icon-button;
      &:hover {
        @include icon-hover;
      }
    }
  }
}

//ドロップアップメニュー
ul.parent{
  display: none;
  width:  200px;
  position: relative;
  & a {
    color: $content-color;
    text-decoration: none;
  }
  li.child{
    display: block;
    position: relative;
    bottom: 130px;
    right: 32px;
    padding: 10px;
    @include icon-button;
    &:hover{
      @include icon-hover;
    }
  }
}
