@import "./variable";

.user-content {
  @include flex_center;
  height: calc(100vh - 280px);
  margin: 120px 0 20px;
  padding: 20px 240px;
  background-color: $base-color;
  color: $content-color;
  &__left {
    width: 400px;
    &--image {
      height: 500px;
      position: absolute;
      top: calc(100vh/5.6);
      left:120px;
      color: $content-color;
      background-color: white;
      border-radius: 120px;
      border:solid 4px $content-color;

    }
    &--name {
      @include user-profile;

    }
    &--email {
      @include user-profile;
    }
    &--physical {
      @include user-profile;
    }
  }
  &__right {
    width: 460px;
    margin-left: 20px;
    &--physical {
      font-size: 30px;
      font-weight: bold;
      padding: 10px;
    }
    &--gragh {
      width:740px;
      height: 380px;
      line-height: 600px;
      background-color: white;
      border-radius: 10px;
      border:solid 2px $content-color;
      .user__list {
        height: 100%;
      }
        canvas#myLine2Chart {
          vertical-align: middle;
        }
    }
  }
}
