@import "./variable";

.user-content {
  @include flex_center;
  @include body-content;
  padding: 20px 240px;
  &__left {
    width: 400px;
    &--image {
      @include user-image;
      top: calc(100vh/5.6);
      left:120px;
    }
    &--name {
      @include user-profile;
    }
    &--email {
      @include user-profile;
    }
    &--physical {
      @include user-profile;
    }
  }
  &__right {
    width: 460px;
    margin-left: 20px;
    &--physical {
      font-size: 30px;
      font-weight: bold;
      padding: 10px;
    }
    &--gragh {
      @include user-gragh;
      .user__list {
        height: 100%;
      }
        canvas#myLine2Chart {
          vertical-align: middle;
        }
    }
  }
}
